<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kalmas.movies"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application android:label="@string/app_name"
        	android:allowBackup="true"
        	android:icon="@drawable/ic_launcher" >
        
        <activity android:name="net.kalmas.movies.MainActivity"
            	android:launchMode="singleTop">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component-->
            </intent-filter>
            
            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        
        <activity android:name="net.kalmas.movies.MovieActivity"  />

        
		<provider android:name="net.kalmas.movies.provider.MovieListingContentProvider"
                  android:authorities="net.kalmas.movies.provider.MovieListingContentProvider" />
		
<!-- 		<provider android:name="net.kalmas.movies.MyMoviesProvider"
		    	  android:exported="false"
                  android:authorities="net.kalmas.movies.MyMoviesProvider" /> -->
        
        <meta-data android:name="android.app.default_searchable"
                   android:value="net.kalmas.movies.MainActivity" />
        
    </application>

</manifest>
